In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

1) Write a python program to display all the header tags from wikipedia.org.

In [2]:
page = requests.get("https://www.wikipedia.org/")

soup = BeautifulSoup(page.content, "html.parser")

headers = soup.find_all(["h1","h2", "h3", "h4", "h5", "h6"])
for i in headers:
    print(i.text.strip())

Wikipedia

The Free Encyclopedia
1,000,000+


articles
100,000+


articles
10,000+


articles
1,000+


articles
100+


articles

2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [3]:
page = requests.get("https://www.imdb.com/list/ls091520106/")
soup = BeautifulSoup(page.content)

In [4]:
# Movie names

movies =[]
for i in soup.find_all("h3", class_="lister-item-header"):
    movies.append(i.text.strip())

In [5]:
# Ratings

ratings = []
for i in soup.find_all("div", class_="ipl-rating-star small"):
    ratings.append(i.text.strip())

In [6]:
# Year Of release

year = []
for i in soup.find_all("span", class_="lister-item-year text-muted unbold"):
    year.append(i.text.strip())

In [7]:
df = pd.DataFrame({"Movie Name": movies, "Ratings":ratings, "Year of Release":year})

def get_name(movie):
    return movie.split("\n")[1].strip(" ")

df['Movies Name'] = df['Movie Name'].apply(lambda x: f"{get_name(x)}") 
df.drop(["Movie Name"], axis=1, inplace=True)
df

   Ratings Year of Release                          Movies Name
0      9.3          (1994)             The Shawshank Redemption
1      9.2          (1972)                        The Godfather
2        9          (1974)                The Godfather Part II
3        9          (2008)                      The Dark Knight
4        9          (1957)                         12 Angry Men
..     ...             ...                                  ...
95     8.3          (1959)                   North by Northwest
96     8.3          (1971)                   A Clockwork Orange
97     8.2          (2000)                               Snatch
98     8.3          (2001)  Le fabuleux destin d'Amélie Poulain
99     8.2          (1921)                              The Kid

[100 rows x 3 columns]

3) Write a python program to scrape mentioned details from dineout.co.in : i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL.

In [8]:
page = requests.get("https://www.dineout.co.in/delhi-restaurants")
soup = BeautifulSoup(page.content)

In [9]:
# i) Restaurant Name
r_name = soup.find("a", class_="restnt-name ellipsis")
r_name.text

'Delia My Bar Headquarters'

In [10]:
# ii) Cuisine
c_name = soup.find("span", class_="double-line-ellipsis")
c_name.text

'₹ 1,600 for 2 (approx) | North Indian, Chinese, Fast Food, Beverages'

In [11]:
# iii) Location
loc = soup.find("div", class_="restnt-loc ellipsis")
loc.text

'Karol Bagh, Central Delhi'

In [12]:
# iv) Ratings
rating = soup.find("div", class_="restnt-rating rating-5")
rating.text

'5'

In [13]:
# v) Image URL
image_url=soup.find("img", class_="no-img")
image_url["data-src"]

'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/d/m/p133271-170455034765995fcb87ba1.jpg?tr=tr:n-medium'

4) Write s python program to display list of respected a) Name of President

b) Tenure od President and make data frame.

link: https://presidentofindia.nic.in/former-presidents

In [14]:
page = requests.get("https://presidentofindia.nic.in/former-presidents")
soup = BeautifulSoup(page.content)

In [15]:
# Name
president_name = []
for i in soup.find_all("div",class_="desc-sec"):
    president_name.append(i.text.strip())
president_name

['Shri Ram Nath Kovind\n14th President of India',
 'Shri Pranab Mukherjee\n13th President of India',
 'Smt Pratibha Devisingh Patil\n12th President of India',
 'DR. A.P.J. Abdul Kalam\n11th President of India',
 'Shri K. R. Narayanan\n10th President of India',
 'Dr Shankar Dayal Sharma\n9th  President of India',
 'Shri R Venkataraman\n8th President of India',
 'Giani Zail Singh\n7th President of India',
 'Shri Neelam Sanjiva Reddy\n6th President of India',
 'Dr. Fakhruddin Ali Ahmed\n5th President of India',
 'Shri Varahagiri Venkata Giri\n4th President of India',
 'Dr. Zakir Husain\n3rd President of India',
 'Dr. Sarvepalli Radhakrishnan\n2nd President of India',
 'Dr. Rajendra Prasad\n1st President of India']

In [16]:
df = pd.DataFrame({"President Name":president_name})

def get_tenure(president_name):
    return president_name.split("\n")[1].strip(" ")
def get_name(president_name):
    return president_name.split("\n")[0].strip(" ")


df['Tenure'] = df['President Name'].apply(lambda x: f"{get_tenure(x)}") 

df["President's Name"] = df['President Name'].apply(lambda x: f"{get_name(x)}") 
df.drop(["President Name"], axis=1, inplace=True)
df

                     Tenure              President's Name
0   14th President of India          Shri Ram Nath Kovind
1   13th President of India         Shri Pranab Mukherjee
2   12th President of India  Smt Pratibha Devisingh Patil
3   11th President of India        DR. A.P.J. Abdul Kalam
4   10th President of India          Shri K. R. Narayanan
5   9th  President of India       Dr Shankar Dayal Sharma
6    8th President of India           Shri R Venkataraman
7    7th President of India              Giani Zail Singh
8    6th President of India     Shri Neelam Sanjiva Reddy
9    5th President of India      Dr. Fakhruddin Ali Ahmed
10   4th President of India  Shri Varahagiri Venkata Giri
11   3rd President of India              Dr. Zakir Husain
12   2nd President of India  Dr. Sarvepalli Radhakrishnan
13   1st President of India           Dr. Rajendra Prasad