In [1]:
import re
import pandas as pd

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [2]:
pattern = r"[ ,.]"
text= 'Python Exercises, PHP exercises.'
res = re.sub(pattern, ":", text)
print(res)

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [3]:
df = pd.DataFrame({"SUMMARY": ['hello, world!', 'XXXXX test', '123four, five:; six ...']})
pattern=r"(X)|(!)|(,)|(123)|(:)|(;)|(\...)"
df["SUMMARY"].str.replace(pattern, "", regex=True)

0       hello world
1              test
2    four five six
Name: SUMMARY, dtype: object

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [4]:
target_string = "APJ Abdul Kalam was an Indian aerospace scientist also known as the Missile Man of India"
regex = re.compile(r"\w{4,}")
result = regex.findall(target_string)
print("Match Object:", result)

Match Object: ['Abdul', 'Kalam', 'Indian', 'aerospace', 'scientist', 'also', 'known', 'Missile', 'India']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [5]:
target_string = "APJ Abdul Kalam was an Indian aerospace scientist also known as the Missile Man of India"
regex = re.compile(r"\b\w{3,5}\b")
result = regex.findall(target_string)
print(result)

['APJ', 'Abdul', 'Kalam', 'was', 'also', 'known', 'the', 'Man', 'India']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [6]:
sample_text = ["example(.com)","hr@fliprobo(.com)", "github(.com)","Hello (Data Science World)", "Data (Scientist)"]

regex = re.compile(r"\((.*?)\)")
for par in sample_text:
    result = regex.sub(lambda x:x.group(0)[1:-1],par)
    print(result)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [7]:
with open("C:/Users/rahul/OneDrive/Desktop/data trained/internship/assignq6.txt") as file:
    regex = re.compile(r"\((.*?)\)")
    for line in file:
        result = regex.sub("",line)
        print(result)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [8]:
sample_text = "ImportanceOfRegularExpressionsInPython"
pattern = "[A-Z][a-z]*"
result = re.findall(pattern, sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [9]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r"([A-Za-z])(\d)"
result = re.sub(pattern,r"\1 \2",sample_text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [10]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r"([A-Za-z])(\d)"
result = re.sub(pattern, r"\1 \2 ", sample_text)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201

In [12]:
pattern = r"(\w{6})"
df["first_five_letters"]= df['Country'].str.extract(pattern,flags=re.I)
df.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [13]:
text = "Importance Of Regular Expressions @ # In_ Python001"
pattern = "\w+" # returns a match where string contains word character(A-Z, a-z, 0-9,_)

result = re.findall(pattern, text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In_', 'Python001']

Question 12- Write a Python program where a string will start with a specific number.

In [14]:
string1 = "123abc asdf"
pattern = "^\d"
result = re.match(pattern, string1)
print(result)

<re.Match object; span=(0, 1), match='1'>

Question 13- Write a Python program to remove leading zeros from an IP address

In [15]:
string1 = "089.056.012.001"
pattern = r"\b0+(\d+)"
result = re.sub(pattern, r"\1", string1)
print(result)

89.56.12.1

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [16]:
with open("C:/Users/rahul/OneDrive/Desktop/data trained/internship/assignq14.txt") as file:
    pattern = r"\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:rd|st|th|nd)\s+\d{4}\b"
    for line in file:
        result = re.findall(pattern, line)
        print(result)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [17]:
string1 = "The quick brown fox jumps over the lazy dog"
searched_word = ['fox', 'dog', 'horse']
word_found = []
for word in searched_word:
    if word in string1:
        word_found.append(word)
print(word_found)

['fox', 'dog']

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [18]:
string1 = "The quick brown fox jumps over the lazy dog"
pattern = "fox"
location=[]
start_location = string1.find(pattern)
while start_location != -1:
    location.append(start_location)
    start_location = string1.find(pattern, start_location +1)
print(location)
print(f"The word {pattern} found at location{location} ")

[16]
The word fox found at location[16]

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [19]:
string1 = "Python exercises, PHP exercises, C# exercises"
pattern = "exercises"
result = re.findall(pattern, string1)
print(result)

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [20]:
string1 = "Python exercises, PHP exercises, C# exercises"
pattern = "exercises"
regex = re.compile(re.escape(pattern))
result = regex.finditer(string1)
count =0
for match in result:
    op = match.start()
    count+=1
    print(f"position{count}:{op}")
print(f"No of Occurences:{count}")

position1:7
position2:22
position3:36
No of Occurences:3

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [21]:
date_string = "1991-05-04"
year, month, day = date_string.split("-")
formated_date = f"{day}-{month}-{year}"
print(formated_date)

04-05-1991

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [22]:
sample_text ="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = r'\b\d+\.\d{1,2}\b'
regex = re.compile(pattern)
result = regex.findall(sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [23]:
string1 = "python123 345php dfg456"
num = []
for index, char in enumerate(string1):
    if char.isdigit():
        num.append((char, index))
print(num)

[('1', 6), ('2', 7), ('3', 8), ('3', 10), ('4', 11), ('5', 12), ('4', 20), ('5', 21), ('6', 22)]

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [24]:
string1 = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
pattern = r"\b\d+\b"
result = re.findall(pattern, string1)
result = max(result)
print(result)

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [25]:
string1 = "RegularExpressionIsAnImportantTopicInPython"
pattern = r"(?=[A-Z])(?<=[a-z])"
result = re.sub(pattern, " ", string1)
print(result)

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [26]:
string1 = "RegularExpressionIsAnImportantTopicInPython"
pattern = r"[A-Z][a-z]+"
result = re.findall(pattern,string1)
print(result)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [27]:
string1 = "Hello hello world world"
pattern =  r"\b(\w+)(?:\W+\1\b)+"
result = re.sub(pattern,r"\1", string1)
print(result)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [28]:
string1 = "Hello! world123"
pattern = r"^.*\w$"
result = re.match(pattern, string1)
print(result)

<re.Match object; span=(0, 15), match='Hello! world123'>

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [29]:
string1 = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by 
#Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""
pattern = r"(#\w+)"
result = re.findall(pattern, string1)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [30]:
text = "@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern = r"<U\+[0-9A-Fa-f]+>"
result = re.sub(pattern,"", text)
print(result)

@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [31]:
with open("C:/Users/rahul/OneDrive/Desktop/data trained/internship/assignq29.txt") as file:
    regex = r"\b\d{2}-\d{2}-\d{4}\b"
    for line in file:
        result = re.findall(regex, line)
    print(result)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [32]:
text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
regex = re.compile(r"\b\w{2,4}\b")
result = regex.sub("",text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.