In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [8]:
driver=webdriver.Chrome()

In [9]:
#opening the webpage
driver.get('https://www.shine.com/')

In [10]:
#designation
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Analyst")

In [11]:
#Location
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys("Bangalore")

In [15]:
#Search
search_job=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search_job.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [21]:
# to scrap the job title from web page
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# to scrap the job location 
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# to scrap the company name
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#to scrap the experience required
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [22]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [23]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience_Required':experience_required})
df

,Title,Location,Company,Experience_Required
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Data Analyst Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
5,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
6,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
7,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
8,Business Analyst,Bangalore\n+6,mackenzie modern it solutions priva...,4 to 6 Yrs
9,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [24]:
driver=webdriver.Chrome()

In [25]:
#opening web page
driver.get("https://www.naukri.com/")

In [26]:
#Designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [27]:
#Location
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Bangalore")

In [28]:
#Search
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [29]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [30]:
#To scrap job title
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# To scrap the job location
location_tags= driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#To scrap the company name
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#To scrap experience required
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
    
print(len(job_title),len(job_location),len(company_name), len(experience_required))

10 10 10 10

In [31]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience_Required':experience_required})
df

,Title,Location,Company,Experience_Required
0,"Data Scientist, Marketing","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,4-6 Yrs
1,Data Scientist,"Hybrid - Hyderabad, Pune, Bengaluru",Tech Mahindra,6-10 Yrs
2,Data Scientist,"Hybrid - Hyderabad, Pune, Bengaluru",Infosys,4-8 Yrs
3,Data Scientist-Senior Associate - P&T Labs,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,4-6 Yrs
4,Data Scientist,"Mumbai, Bengaluru, Delhi / NCR",Deloitte,4-9 Yrs
5,Data Scientist,"Bangalore Rural, Kolkata, Mumbai (All Areas)",Tata Consultancy Services (TCS),5-9 Yrs
6,NLP Data Scientist - Real World Data (RWD),"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Agilite Global Solutions,7-8 Yrs
7,Data Science Associate,"Hybrid - Pune, Gurugram, Bengaluru",ZS Associates,1-3 Yrs
8,Data Scientist,"Pune, Chennai, Bengaluru",Wipro,6-11 Yrs
9,Lead Data Scientist,Bengaluru,Baker Hughes,9-14 Yrs

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses. Note: That all of the above steps have to be done by coding only and not manually.

In [32]:
driver=webdriver.Chrome()

In [33]:
#Open webpage
driver.get('https://www.flipkart.com/')

In [34]:
# entering sunglasses in field where “search for products, brands and more” is written 
product=driver.find_element(By.CLASS_NAME,'Pke_EE')
product.send_keys("sunglasses")

In [35]:
#Search
search=driver.find_element(By.CLASS_NAME,'_2iLD__')
search.click()

In [68]:
brand=[]
product_description=[]
price=[]

In [69]:
start=0
end=3
for page in range(start, end):
    #To scrap the brand name
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brand_tags:
        brand_list=i.text
        if len(brand)>99:
            pass
        else:
            brand.append(brand_list)
        
    
    # To scrap the product description
    product_des_tags= driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]/a[1]')
    for i in product_des_tags:
        product_des=i.text
        if len(product_description)>99:
            pass
        else:
            product_description.append(product_des)
            
    #To scrap the price
    price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in price_tags:
        price_list=i.text
        if len(price)>99:
            pass
        else:
            price.append(price_list)
                
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [70]:
len(brand)

100