In [51]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [2]:
# opening web browser
driver = webdriver.Chrome()

In [3]:
# Opening the web page
driver.get("https://www.naukri.com/")

In [4]:
#Designation
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [5]:
#Search button
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[6]")
search_button.click()

In [6]:
# Applying location filter
location = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[1]/label/i")
location.click()

In [7]:
#Applying salary filter
salary=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[2]/label/i")
salary.click()

In [12]:
# creating list to scrap the 10 data values
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [13]:
# to scrap the job title from web page
title_tags = driver.find_elements(By.XPATH, '//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags[0:10]:
    title= i.text
    job_title.append(title)

#to scrap the job location from web page
location_tags=driver.find_elements(By.XPATH, '//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# to scrap the company name from the web page
company_tags=driver.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# to scrap the experience required from web page
experience_tags=driver.find_elements(By.XPATH, '//span[@class="expwdth"]')
for i in experience_tags[0:10]:
    experince=i.text
    experience_required.append(experince)

In [15]:
#creating Dataframe
df=pd.DataFrame({"Title": job_title, "Location": job_location, "Company Name": company_name,"Experience Required": experience_required})
df

,Title,Location,Company Name,Experience Required
0,Data Scientist HTHD,"Bengaluru, Kolkata, Mumbai, New Delhi, Hyderab...",Ford,1-4 Yrs
1,Data Scientist,"Bengaluru, Gurugram",Blackbuck,3-7 Yrs
2,Data Scientist,Bengaluru,Applied Materials,2-4 Yrs
3,Senior Data Scientist,Bengaluru,Siemens,3-8 Yrs
4,MACHINE LEARNING / DATA SCIENCE TRAINER,Bengaluru,Ethnotech Academy,2-5 Yrs
5,Data Scientist,Bengaluru,Nestle,2-4 Yrs
6,Staff Data Scientist,Bengaluru,Inmobi Solutions,3-6 Yrs
7,Data Scientist,Bengaluru,Alcon Laboratories,2-3 Yrs
8,Data Scientist,"Bengaluru, Kolkata, Mumbai, New Delhi, Hyderab...",Digital Glyde,3-7 Yrs
9,Python Data Scientist,"Bengaluru, Kolkata, Mumbai, New Delhi, Hyderab...",Wizaltia Hr Solutions,2-7 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [20]:
# opeining web browser
driver=webdriver.Chrome()

In [21]:
# 1. First get the webpage https://www.shine.com/
driver.get("https://www.shine.com/")

In [23]:
# 2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
designation = driver.find_element(By.CLASS_NAME, "form-control  ")
designation.send_keys("Data Analyst")

In [27]:
#Location
location=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys("Bangalore")

In [29]:
# 3. Then click the searchbutton.
search_job=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search_job.click()

In [30]:
# scrap the data for job_title, job_location, company_name, experience_required
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [31]:
# Then scrape the data for the first 10 jobs results you get.

#scrap job title
title_tags=driver.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scrap job location
location_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scrap company name
company_tags=driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scrap experience required
experience_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [32]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [33]:
df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company Name": company_name,"Experience Required": experience_required})
df

,Title,Location,Company Name,Experience Required
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Analyst Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
5,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
6,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
7,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
8,Business Analyst,Bangalore\n+6,mackenzie modern it solutions priva...,4 to 6 Yrs
9,MIS Analyst,Bangalore,quess corp (magna infotech),8 to 13 Yrs

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [2]:
#opening web browser
driver= webdriver.Chrome()

In [3]:
# opening web page
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [4]:
# scrap the 1. Rating, 2. Review summary, and 3. Full Review for first 100 reviews
rating=[]
review_summary=[]
full_review=[]

In [6]:
# scrap for first 100 reviews

start=0
end=10
for page in range(start, end):
    # rating
    rating_tags=driver.find_elements(By.XPATH, '//div[@class="XQDdHH Ga3i8K"]')
    for i in rating_tags:
        rating_list=i.text
        if len(rating)>99:
            pass
        else:
            rating.append(rating_list)
            
    # review_summary        
    summary_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in summary_tags:
        summary_list=i.text
        if len(review_summary)>99:
            pass
        else:
            review_summary.append(summary_list)
    
    #full review
    review_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
    for i in review_tags:
        review_list=i.text
        if len(full_review)>99:
            pass
        else:
            full_review.append(review_list)

In [7]:
print(len(rating))

100

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [10]:
#opening browser
driver=webdriver.Chrome()

In [12]:
#opening webpage
driver.get('https://www.flipkart.com')

In [13]:
#search "sneakers" in the search field
product = driver.find_element(By.CLASS_NAME,'Pke_EE')
product.send_keys("sneakers")

In [14]:
#click search button
search_button=driver.find_element(By.CLASS_NAME,'_2iLD__')
search_button.click()

In [15]:
#scrap the data for first 100 sneakers
brand=[]
product_description=[]
price=[]

In [16]:
# to scrap the first 100 sneakers we have to visit 3 pages
start=0
end=3
for page in range(start, end):
    #brand
    brand_tags=driver.find_elements(By.XPATH, '//div[@class="syl9yP"]')
    for i in brand_tags:
        brand_list=i.text
        if len(brand)>99:
            pass
        else:
            brand.append(brand_list)
            
    #product description
    product_tags=driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
    for i in product_tags:
        product_list=i.text
        if len(product_description)>99:
            pass
        else:
            product_description.append(product_list)
            
    #price
    price_tags=driver.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')
    for i in price_tags:
        price_list=i.text
        if len(price)>99:
            pass
        else:
            price.append(price_list)

In [17]:
print(len(brand), len(product_description), len(price))

100 100 100

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [24]:
# open web browser
driver=webdriver.Chrome()

In [25]:
#opening web page
driver.get('https://www.amazon.in/')

In [27]:
# search 'Laptop'
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys("Laptop")

In [29]:
#click search icon
search_icon=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_icon.click()

In [31]:
# setting CPU Type filter to “Intel Core i7” 
filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[19]/span/span[11]/li/span/a/div/label/i')
filter.click()

In [32]:
# scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

title=[]
ratings=[]
price=[]

In [34]:
# scrape title
title_tags=driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title_list=i.text
    title.append(title_list)
    
# scrape ratings
ratings_tags=driver.find_elements(By.XPATH, '//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in ratings_tags[0:10]:
    rating_list=i.text
    ratings.append(rating_list)
    
#scrape price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price_list=i.text
    price.append(price_list)

In [35]:
print(len(title), len(ratings), len(price))

10 10 10

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [41]:
# open web browser
driver=webdriver.Chrome()

In [42]:
# opening webpage 
driver.get('https://www.azquotes.com/')

In [43]:
# top quotes
top_quotes=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [44]:
#scrap a) Quote b) Author c) Type Of Quotes
quote=[]
author=[]
quote_type=[]

In [45]:
# Scrape Top 1000 quotes of all time
start=0
end=10
for page in range(start, end):
    # quote
    quote_tags=driver.find_elements(By.XPATH, '//a[@class="title"]')
    for i in quote_tags:
        quote_list=i.text
        if len(quote)>999:
            pass
        else:
            quote.append(quote_list)
        
    # author
    author_tags=driver.find_elements(By.XPATH, '//div[@class="author"]')
    for i in author_tags:
        author_list=i.text
        if len(author)>999:
            pass
        else:
            author.append(author_list)
         
    #Type of quotes
    quote_types_tags=driver.find_elements(By.XPATH, '//div[@class="tags"]')
    for i in quote_types_tags:
        quote_types_list=i.text
        if len(quote_type)>999:
            pass
        else:
            quote_type.append(quote_types_list)

In [46]:
print(len(quote), len(author), len(quote_type))

1000 1000 1000

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [49]:
# open web browser
driver=webdriver.Chrome()

In [ ]:
# open web page
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [53]:
data=[]

In [66]:
df=pd.DataFrame(data)
df

                                                   0
0  S.N.\nPM Name\nBorn-Dead\nTerm of office\nRema...
1  {'Name': 'S.N.', 'Born-Dead': 'PM Name', 'Term...
2  {'Name': 'S.N.
PM Name
Born-Dead
Term of offic...
3  {'Name': '1.', 'Born-Dead': 'Jawahar Lal Nehru...
4  {'Name': '1.', 'Born-Dead': 'Jawahar Lal Nehru...
5  {'Name': 'Jawahar Lal Nehru', 'Born-Dead': '(1...

Q8: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [67]:
# open browser
driver=webdriver.Chrome()

In [68]:
# open web page
driver.get('https://www.motor1.com/')

In [74]:
# search 50 most expensive cars
product=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
product.send_keys('50 most expensive cars')

In [76]:
# search button
search=driver.find_element(By.XPATH,'/html/body/div[9]/div[6]/form/input[2]')
search.click()

In [77]:
# click on '50 most expensive cars'
option=driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
option.click()

In [91]:
# scrape car name and price
car_name=[]
price=[]

In [92]:
# scrape the 50 most expensive cars
car_tags = driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in car_tags[0:50]:
    car= i.text
    car_name.append(car)

#to scrap the price from web page
price_tags=driver.find_elements(By.XPATH, '//strong')
for i in price_tags[0:50]:
    price_l=i.text
    price.append(price_l)

In [93]:
print(len(price))

50