# WEB SCRAPING – ASSIGNMENT 4

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings("ignore")
import time
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
#Open the browser
driver=webdriver.Chrome()

In [3]:
#open the web page
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
# Rank
rank=[]
try:
    rank_tags=driver.find_element(By.XPATH, '/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[1]/tr[0]')
    rank.append(rank_tags.text)
except:
    rank.append("-")

In [9]:
rows = driver.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr')
# Initialize a list to hold the data

y_name=[]
y_artist=[]
y_date=[]
y_views=[]
ranks=[]
# Loop through rows and collect data
for row in rows[:]:  # Skip the header row
    cols = row.find_elements(By.XPATH, ".//td")
    if len(cols) > 4:  # Ensure there are enough columns
        
        name = cols[0].text.strip()
        y_name.append(name)
        artist = cols[1].text.strip()
        y_artist.append(artist)
        upload_date = cols[3].text.strip()
        y_date.append(upload_date)
        views = cols[2].text.strip()
        y_views.append(views)

In [10]:
df=pd.DataFrame({'Name': y_name, 'Artist': y_artist, 'Upload Date':y_date, "Views": y_views})
df

,Name,Artist,Upload Date,Views
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.52
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.44
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.91
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.70
4,"""See You Again""[20]",Wiz Khalifa,"April 6, 2015",6.27
5,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",6.26
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.13
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.80
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.23
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.15
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.11
11,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.63
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.58
13,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.54
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.05
15,"""Sugar""[41]",Maroon 5,"January 14, 2015",4.05
16,"""Lakdi Ki Kathi""[42]",Jingle Toons,"June 14, 2018",4.04
17,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.02
18,"""Roar""[44]",Katy Perry,"September 5, 2013",4.00
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.93
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.84
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.81
22,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.80
23,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.77
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.74
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.72
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.66
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.63
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.61
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.60

In [11]:
driver.quit()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [13]:
#open the browser
driver=webdriver.Chrome()

In [14]:
#Opening the web page
driver.get("https://www.bcci.tv/")

In [16]:
# open International Fixture tab
fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [17]:
# scrape A) Series B) Place C) Date D) Time

series=[]
place=[]
date=[]
time=[]

In [18]:
# to scrap the series title from web page
series_tags = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    series_name= i.text
    series.append(series_name)
# to scrape place
place_tags=driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]')
for i in place_tags:
    place_name=i.text
    place.append(place_name)
    
# scrape date
date_tags = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in date_tags:
    date_list=i.text
    date.append(date_list)
    
# scrape time
time_tags = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    time_m=i.text
    time.append(time_m)

In [19]:
df1=pd.DataFrame({'Series': series, 'Place':place, 'Date':date, 'time':time})
df1

,Series,Place,Date,time
0,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium, Bengaluru",13 Jun,13:30 IST
1,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,20:00 IST
2,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",16 Jun,13:30 IST
3,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",19 Jun,13:30 IST
4,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",23 Jun,13:30 IST

In [20]:
driver.quit()

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: 
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
#opening browser
driver= webdriver.Chrome()

In [3]:
#opening web page
driver.get('http://statisticstimes.com/')

In [4]:
#Open Economy India
eco = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()
ind= driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
ind.click()

In [5]:
#open GDP of states
gdp_s=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_s.click()

In [14]:
#scrape A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP($ billion)
rank=[]
state=[]
gsdp_1=[]
gsdp_2=[]
share_1=[]
gdp_b=[]

In [15]:
# to scrap the rank from web page
rank_tags = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[1]')
for i in rank_tags[0:33]:
    rank.append(i.text)
    
# to scrape state name 
state_name = driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state_name[0:33]:
    state.append(i.text)
    
#to scrape gsdp1
gsdp_1_tags = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[5]')
for i in gsdp_1_tags[0:33]:
    gsdp_1.append(i.text)
    
# to scrape gsdp2
gsdp_2_tags=driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp_2_tags[0:33]:
    gsdp_2.append(i.text)
    
# To scrape share1
share_1_tags =driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[6]')
for i in share_1_tags[0:33]:
    share_1.append(i.text)
    
#to scrape gdp in billion
gdp_b_tags =driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[7]')
for i in gdp_b_tags[0:33]:
    gdp_b.append(i.text)

df3 =pd.DataFrame({'Rank':rank,'State':state,'GSDP 1':gsdp_1, 'GSDP 2': gsdp_2, 'Share': share_1, 'GDP (In Billoin)': gdp_b})

In [16]:
df3.head(33)

,Rank,State,GSDP 1,GSDP 2,Share,GDP (In Billoin)
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",3.96%,124.764
11,12,Delhi,"881,336","1,014,688",3.73%,117.660
12,13,Haryana,"868,905","984,055",3.68%,116.001
13,14,Odisha,"662,886","753,177",2.81%,88.497
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"617,192","676,164",2.62%,82.397
16,17,Assam,"411,454","493,167",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"267,143","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
22,23,Goa,"84,266","93,672",0.36%,11.250
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"46,096","54,285",0.20%,6.154
25,26,Puducherry,"43,810","49,643",0.19%,5.849
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
30,31,Nagaland,"31,038","35,643",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

In [17]:
driver.quit()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [19]:
# open the web browser
driver=webdriver.Chrome()

In [21]:
# Opening web page
driver.get('https://github.com/')

In [22]:
#click on Trending repository
os= driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
os.click()
trending=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [23]:
#scrapre the following A) Repository title B) Repository description C) Contributors count D) Language used
title=[]
desc=[]
count=[]
lang=[]

In [24]:
# to scrape the repository title from web page
title_tags = driver.find_elements(By.XPATH, '//a[@class="Link"]')
for i in title_tags:
    title.append(i.text)
    
# to scrape the repository description
desc_tags= driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc_tags:
    desc.append(i.text)
    
# to scrape Contributors count
count_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]')
for i in count_tags:
    count.append(i.text)
    
# to scrape Language used
lang_tags = driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]')
for i in lang_tags:
    lang.append(i.text)

In [28]:
driver.quit()

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [29]:
#open the browser
driver=webdriver.Chrome()

In [30]:
#open the web page
driver.get('https:/www.billboard.com/')

In [31]:
# Click on Hot-10 page 
hot= driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
hot.click()

In [37]:
# scrape the following A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board
song=[]
artist=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

In [38]:
# to scrape the song name from web page
song_tags = driver.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li/ul/li[1]')
for i in song_tags:
    song.append(i.text)
    
# Artist  name
artist_tags= driver.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div/div/ul/li/ul/li[1]/span')
for i in artist_tags:
    artist.append(i.text)
    
# scrape Last week rank
last_week_rank_tags=driver.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li/ul/li[4]/span')
for i in last_week_rank_tags:
    last_week_rank.append(i.text)
    
# scrape peak rank
peak_rank_tags =driver.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span')
for i in peak_rank_tags:
    peak_rank.append(i.text)
    
# scrape weeks on board
weeks_on_board_tags = driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span')
for i in weeks_on_board_tags:
    weeks_on_board.append(i.text)

In [39]:
print(len(song), len(artist), len(weeks_on_board))

100 100 100

In [40]:
driver.quit()

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [42]:
# open the web browser
driver=webdriver.Chrome()

In [43]:
# open web page
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [44]:
# scrape A) Book name B) Author name C) Volumes sold D) Publisher E) Genre
name=[]
author=[]
volumes=[]
publisher=[]
genre=[]

In [45]:
# to scrape the name from web page
name_tags = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]')
for i in name_tags:
    name.append(i.text)
    
# To scrape author
author_tags=driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]')
for i in author_tags:
    author.append(i.text)
    
# to scrape volumes
volumes_tags= driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]')
for i in volumes_tags:
    volumes.append(i.text)
    
# to scrape genre
publisher_tags= driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5]')
for i in publisher_tags:
    publisher.append(i.text)

# to scrape genre
genre_tags= driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[6]')
for i in genre_tags:
    genre.append(i.text)

In [46]:
print(len(name), len(author), len(genre))

100 100 100

In [47]:
driver.quit()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [48]:
#Open the browser
driver=webdriver.Chrome()

In [51]:
# Open web page
driver.get('https://www.imdb.com')

In [52]:
#click on menu
menu= driver.find_element(By.XPATH, '/html/body/div[2]/nav/div[2]/label[1]/span')
menu.click()

In [53]:
most_pop=driver.find_element(By.XPATH, '/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[3]/span')
most_pop.click()

In [54]:
# Scrape A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes
name=[]
span=[]
genre=[]
run=[]
ratings=[]
votes=[]

In [55]:
# to scrape the name from web page
name_tags = driver.find_elements(By.XPATH, '//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-b189961a-9 iALATN cli-title"]')
for i in name_tags:
    name.append(i.text)
    
# to scrape the span from web page
span_tags = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div/div[3]/section/div/div[2]/div/ul/li/div[2]/div/div/div[3]/span[1]')
for i in span_tags:
    span.append(i.text)
    
# to scrape the genre from web page
genre_tags = driver.find_elements(By.XPATH, '//span[@class="sc-b189961a-3 hidKPx cli-title-type-data"]')
for i in genre_tags:
    genre.append(i.text)
    
# to scrape the runtime from web page
run_tags = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div/div[3]/section/div/div[2]/div/ul/li/div/div/div/div[3]/span[2]')
for i in run_tags:
    run.append(i.text)
    
# to scrape the ratings from web page
ratings_tags = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div/div[3]/section/div/div[2]/div/ul/li/div/div/div/span/div/span')
for i in ratings_tags:
    ratings.append(i.text)
    
# to scrape the votes from web page
votes_tags = driver.find_elements(By.XPATH, '//span[@class="ipc-rating-star--voteCount"]')
for i in votes_tags:
    votes.append(i.text)

In [56]:
print(len(name), len(span), len(genre))

100 100 100

In [57]:
driver.quit()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.
ASSIGNMENT

In [58]:
# Open web browser
driver=webdriver.Chrome()

In [59]:
# Open web page
driver.get('https://archive.ics.uci.edu/')

In [60]:
# open all data set
data_set=driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
data_set.click()

In [61]:
# scrape A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year
name=[]
d_type=[]
task=[]
att_type=[]
no_inst=[]
no_attri=[]
year=[]

In [62]:
# to scrape the name from web page
name_tags = driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
for i in name_tags:
    name.append(i.text)
    
# to scrape the data type from web page
d_type_tags = driver.find_elements(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div/div/div[2]/span')
for i in d_type_tags:
    d_type.append(i.text)
    
# to scrape the task from web page
task_tags = driver.find_elements(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div/div/div[1]')
for i in task_tags:
    task.append(i.text)
    
# to scrape the attribute type from web page
att_type_tags = driver.find_elements(By.XPATH, '//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
for i in att_type_tags:
    att_type.append(i.text)
    
# to scrape the attribute type from web page
no_inst_tags = driver.find_elements(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div/div/div[3]/span')
for i in no_inst_tags:
    no_inst.append(i.text)

In [63]:
print(len(d_type))

10